<p id="notice"><%= notice %></p>

<p>
  <strong class="col-xs-2">Title:</strong>
  <%= @product.title %>
</p>
<p>
  <strong class ="col-xs-2">Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong class ="col-xs-2">Description:</strong>
  <br>
  <%= @product.description %>
</p>



<%= link_to edit_product_path(@product), :class=> "btn btn-sm btn-primary" do %>
    <span class="glyphicon glyphicon-edit"></span> <%= "Edit" %>
<% end %>

<%= link_to products_path, :class=> "btn btn-sm btn-primary" do %>
    <span class="glyphicon glyphicon-chevron-left"></span> <%= "Back" %>
<% end %>
